<%- include("partials/header"); %>

<h3 style="font-family: Lobster;">Developed by Bala Krishna Makineni</h3><hr>

 <div class="container mt-5">
   <b>Connect me from:</b>
    <a class="btn btn-primary" href="https://github.com/BalaKrishna002" role="button" target="_blank">Github</a>
    <a class="btn btn-primary" href="https://www.linkedin.com/in/makineni-bala-krishna-58a880227/" role="button" target="_blank">Linkedin</a>
 </div>

<%- include("partials/footer"); %>
