<%- include("partials/header"); %>


<h1>Developed by Bala Krishna Makineni</h1><hr>

 <div>
    <a class="btn btn-primary modify" href="https://github.com/BalaKrishna002" role="button" target="_blank">Github</a>
    <a class="btn btn-primary modify" href="https://www.linkedin.com/in/makineni-bala-krishna-58a880227/" role="button" target="_blank">Linkedin</a>
 </div>


<%- include("partials/footer"); %>
