<%- include("partials/header.ejs"); %>

<div class="blog-post-form">
    <h2>New Blog Post 📝!</h2>
    <form id="myForm" action="/blog/compose" method="post">
      <label for="post-title">Title:</label>
      <input type="text" name="title" spellcheck="true" autofocus id="post-title" required>

      <label for="post-content">Content:</label>
      <div id="editor"  id="post-content"></div>
      
      <input type="submit" value="Publish">
      <a href="/" role="button" style="margin: 5px; text-decoration: none;">Cancel</a>
    </form>
  </div>

  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
  <script>
      const toolbarOptions = [
      ['bold', 'italic', 'underline', 'strike'],        // Basic formatting
      ['blockquote', 'code-block'],

      [{ 'header': 1 }, { 'header': 2 }],               // Headers
      [{ 'list': 'ordered'}, { 'list': 'bullet' }],    // Lists
      [{ 'script': 'sub'}, { 'script': 'super' }],     // Subscript/superscript
      [{ 'indent': '-1'}, { 'indent': '+1' }],         // Indentation
      [{ 'direction': 'rtl' }],                        // Text direction

      [{ 'color': [] }, { 'background': [] }],         // Color controls
      [{ 'font': [] }],
      [{ 'align': [] }],

      ['clean']                                        // Remove formatting
      ];

      const quill = new Quill('#editor', {
      modules: {
        toolbar: toolbarOptions
      },
      theme: 'snow'
      });

      // Get form and attach submit event listener
      document.getElementById('myForm').addEventListener('submit', function(event) {
          // Get content from Quill.js editor
          var content = quill.root.innerHTML;
    
          // Create a hidden input field and append it to the form
          var hiddenInput = document.createElement('input');
          hiddenInput.setAttribute('type', 'hidden');
          hiddenInput.setAttribute('name', 'content');
          hiddenInput.setAttribute('value', content);
          this.appendChild(hiddenInput);
        });
      
  </script>

<%- include("partials/footer.ejs"); %>
