<%- include('partials/header') %>

<div class="registration-form">
  <h2>Login</h2>
  <form action="/auth/login" method="POST">

    <label for="email">Email:</label>
    <input type="email" id="email" name="username" required placeholder="Email">

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required placeholder="Password">

    <input type="submit" value="Login">
  </form>
  <p>Don't have an account? <a href="/auth/register" role="button">Register</a></p>
</div>

<%- include('partials/footer') %>
