body{
    box-sizing: border-box;
}
/* .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
} */

.navbar {
    padding-top: 2rem;
    padding-bottom: 1rem;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 1rem;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
.form-inline{
    padding-top: 1rem;
}

.footer-padding {
    margin-top: 2rem;
}

.footer {
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 5%;
	background-color: #1abc9c;
}

.footer p {
    padding-top: 1em;
	font-size: 1.3rem;
    color: #fff;
}



.modify{
    display: inline;
    padding-right: 2em;
    align-items: center;

}

.Description{
    font-family: Cambria, Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.Title{
    font-family: Lobster;
}

.user{
    text-align: center;
    font-family: Monospace;
    margin-bottom: 2.5rem;
    
}

hr{
    border: thin solid #1c2841;
    padding-top: 0;
    margin-top: 0;
}

.post{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 1rem;
    border-radius: 5px;
}

.auth{
    align-items:center; 
    width: 75%; 
    margin-top:2rem; 
    padding-left: 3rem;
}

.all-posts{
    width: 10%;
    margin: 0;
    background-color: rgb(88, 88, 225);
    size: 10%;
}

.end-post{
    width: 30%;
    margin: 0;
    /* background-color: rgb(88, 88, 225); */
    size: 10%;
    margin-bottom: 1em;
}

.full-post{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 2rem;
    border-radius: 5px;
    margin-top: 2rem;
}

i{
    font-size: 20px;
}

