body{
    box-sizing: border-box;
}
/* .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
} */

.navbar {
    padding-top: 2rem;
    padding-bottom: 1rem;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 1rem;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
.form-inline{
    padding-top: 1rem;
}

.footer-padding {
	padding-bottom: 2rem;
}

.footer {
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 8%;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 1.5rem;
	font-size: 1.5rem;
    color: #fff;
}



.modify{
    display: inline;
    padding-right: 2rem;
}

.Description{
    font-family: Cambria, Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.Title{
    font-family: Lobster;
}

.user{
    text-align: center;
    font-family: Monospace;
    margin-bottom: 2.5rem;
    
}

hr{
    border: thin solid #1c2841;
    padding-top: 0;
    margin-top: 0;
}



i{
    font-size: 20px;
}

